node_modules/
dist/
.vscode/
.env
messages/
*.log

frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/chat-history.json

.wwebjs_auth/
.wwebjs_cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
backend/signal-history.json
backend/src/signal/signal-names.json
backend/src/signal/signal-history.json
backend/src/whatsapp/whatsapp-history.json
backend/src/tts/audio/*
!backend/src/tts/audio/.gitkeep
backend/uploads

