node_modules/
dist/
.vscode/
.env
messages/
*.log

frontend/node_modules/
frontend/dist/
backend/node_modules/
backend/chat-history.json

.wwebjs_auth/
.wwebjs_cache/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
backend/signal-history.json
backend/src/signal/signal-names.json
backend/src/signal/signal-history.json
backend/src/whatsapp/whatsapp-history.json
backend/src/tts/audio/*
!backend/src/tts/audio/.gitkeep
backend/uploads

uploads/media-1764090026044.pdf
uploads/media-1764090035012.pdf
uploads/media-1764090035023.pdf
uploads/media-1764090045638.pdf
uploads/media-1764090045673.pdf
uploads/media-1764090059380.pdf
uploads/media-1764090059409.pdf
uploads/media-1764090079541.pdf
uploads/media-1764090079569.pdf
uploads/media-1764090112440.pdf
uploads/media-1764090112468.pdf
uploads/media-1764090170850.pdf
uploads/media-1764090170880.pdf
uploads/media-1764090241987.pdf
uploads/media-1764090242024.pdf
uploads/media-1764090255725.pdf
uploads/media-1764090255763.pdf
uploads/media-1764090276426.pdf
uploads/media-1764090276479.pdf
uploads/media-1764090286380.pdf
uploads/media-1764090286537.pdf
uploads/media-1764090324800.pdf
uploads/media-1764090324946.pdf
uploads/media-1764090345373.pdf
uploads/media-1764090346307.pdf
whatsapp-cache/2.3000.1030301812.html
whatsapp-cache/2.3000.1030344989.html
whatsapp-cache/2.3000.1030354043.html
whatsapp-cache/2.3000.1030356216.html
whatsapp-session/session/BrowserMetrics-spare.pma
whatsapp-session/session/DevToolsActivePort
whatsapp-session/session/first_party_sets.db
whatsapp-session/session/first_party_sets.db-journal
whatsapp-session/session/Last Version
whatsapp-session/session/Local State
whatsapp-session/session/SingletonCookie
whatsapp-session/session/SingletonLock
whatsapp-session/session/SingletonSocket
whatsapp-session/session/Variations
